{
    "env":{
        "browser": true,
        "node": true
    },
    "plugins":["react-native"],
    "extends":["plugin:react-native/all", "../../tools/lint_conf/eslint-base"],
    "parser": "babel-eslint"
}